.o-s{
  font-family: 'Open Sans', sans-serif;
}
.rale{
  font-family: 'Raleway', sans-serif;
}
.navbar{
  margin: 0;
}
.menu-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 18vh;
  font-family: 'Open Sans', sans-serif;
}
.menu-header li a{
  text-decoration: none;
  font-size: 2rem;
  color: black;
}
.menu-hamburger{
  display: inline-block;
  font-size: 2.5rem;
}
.menu-hamburger a{
  color: black;
}
.menu-hamburger a:hover, .menu-hamburger a:focus{
  color: black;
  text-decoration: none;
}
#menu li{
  padding: 10%;
}
#menu a{
  color: black;
  font-size: 2rem;
}
.presentacion{
  margin: 0;
  padding: 0;
  background-image: url("../img/taxi.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 711px;
  background-size: contain;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Raleway', sans-serif;
}
.registro{
  background-color: #f7b617;
  display: inline-block;
  width: 360px;
  min-height: 340px;
  color: white;
  padding-top: 20px;
  padding-left: 40px;
}
.registro h2{
  font-size: 3.8rem;
  font-weight: 600;
}
.registro h3{
  display: inline-block;
  margin-right: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.formulario{
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  padding-left: 15px;
  margin-top: 20px;
}
.formulario .form-control{
  background-color: #f7b617;
  border: none;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid white;
  width: 80%!important;
}
.formulario.form-control:focus, .formulario.form.group:focus{
  border-bottom: 1px solid white;
  outline: 0;
  box-shadow: none;
}
.boton{
  margin-top: 60px;
  font-weight: 800;
  font-size: 2.3rem;
}
.info{
  background-color: #f7b617;
  height: 530px;
  font-family: 'Open Sans', sans-serif;
  color: white;
}
.mobile-center{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.info-title{
  font-family: 'Raleway', sans-serif;
}
.informacion{
  border: 1px solid white;
  padding: 30px 0;
  margin-top: 40px;
}
.informacion p{
  font-size: 2rem;
  margin-bottom: 25px;
}
.celular{
  width: 65%;
  height: 250px;
  margin-top: 5px;
}
.imagen{
  text-align: center;
}
.info h3{
  margin-top: 40px;
}
.conduce{
  background-image: url("../img/conduce.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 78vh;
  background-size: cover;
  background-position: center;
}
.conduce-info{
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  height: 65vh;
  padding-top: 80px;
  padding-left: 35px;

}
.conduce h2{
  font-family: 'Raleway', sans-serif;
}
.conduce p{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
}
.conduce button{
  font-family: 'Open Sans', sans-serif;
  background-color: #f7b617;
}
.tarifa{
  height: 580px;
  background-color: #f7b617;
  color: white;
  display: flex;
  align-items: center;
}
.mapa{
  border: 1px solid white;
  padding: 1%;
  width: 600px;
  height: 500px;
}
#map{
  width: 100%;
  height: 100%;
}

.tarifa p{
  margin: 25px 0;
  font-size: 2rem;
}
.tarifa .form-group{
  margin: 20px 0;
}
.tarifa .form-group label{
  font-size: 2rem;
  padding-right: 20px;
}
.tarifa .form-group .form-control{
  display: inline-block;
  width: 80%;
  border: 1px solid white;
  box-shadow: none;
  background-color: #f7b617;
  color: white;
  height: 45px;
  border-radius: 25px;
}

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
.form-control:-moz-placeholder { /* Firefox 18- */
  color: white;
}
.btn-ruta{
  color: black;
  font-weight: 600;
  margin-top: 30px;
  margin-left: 35%;
}
.hidden{
  display: none;
}
.tarifa-resultado{
  display: inline-block;
  position: absolute;
  bottom: -60px;
  left: 45%;
  color: black;
  font-size: 2.5rem;
  font-weight: 600;
}

/*estilo del footer*/
footer{
  min-height: 600px;
  background-color: #2B2B2B;
  color: white;
  padding: 5% 0;
}
footer .img-logo{
  padding: 20px 0;
  border-bottom: 1px solid white;
}
footer .menu-lista{
  padding: 20px 0;
}
footer .menu-lista li{
  padding: 15px 0;
}
footer .social-media-icon li{
  display: inline-block;
  font-size: 1.5rem;
  color: white;
  padding: 0 2px;
}

footer .copy{
  padding: 20px 0;
  border-top: 1px solid white;
}
.app-media{
  position: relative;
  top: 40px;
  left: 10px;
}
.app-store{
  padding-top: 50px;
}
.pd-0{
  padding: 0;
}
@media (min-width:600px){
  .logo{
    float: left;
  }
  .presentacion{
    height: 105vh;
    background-size: cover;
    background-position: 0 -184vh;
  }
  .registro{
    width: 41%;
    min-height: 400px;
  }
  .logo-blanco{
    width: 100px;
  }
  .boton{
    margin-top: 30px;
    font-size: 2rem;
  }
  .registro h2{
    margin-bottom: 20px;
    font-size: 3.5rem;
  }
  .celular{
    height: 350px;
  }
  .info{
    height: 80vh;
  }
  .informacion{
    border: 1px solid white;
    border-left: none;
    padding: 50px 0;
    margin-top: 40px;
  }
  .mobile-center{
    justify-content: flex-start;
  }
  .conduce{
    height: 65vh;
  }
  .tarifa{
    height: 650px;
  }
  .app-store{
    min-height: 410px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .app-media{
    position: relative;
    top: 15px;
    left: -10px;
    min-height: 410px;
    display: flex;
    align-items: flex-end;
  }
}
